@{
    ViewData["Title"] = "Home Page";
}

@{
    var students = ViewData["Students"] as List<Student>;
    var rowCount = (int)ViewData["RowCount"];
    var index = 1;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ФИО</th>
            @foreach (var visitInfo in students[0].Visits)
            {
                <th scope="col">@visitInfo.Date</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <th scope="row" style="width: 5%">@index</th>
                <th scope="row">@student.Name (@student.Group)</th>
                @foreach (var visitInfo in student.Visits)
                {
                    var text = visitInfo.Visited ? "" : "✖";
                    var danger = visitInfo.Visited ? "" : "danger";
                    <th scope="row" style="width: 5%" class="text-center @danger">@text</th>
                }
                @{ 
                    index++;
                }
            </tr>
        }
    </tbody>
</table>
